<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>M7024E Cloud Services - Labs: Amir Rahafrouz, An Pham</title>
  <!-- Bootstrap Core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../stylesheets/style.css" rel="stylesheet">
  <!-- MetisMenu CSS -->
  <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="../dist/css/sb-admin-2.css" rel="stylesheet">
  <!-- Morris Charts CSS -->
  <link href="../vendor/morrisjs/morris.css" rel="stylesheet">
  <!-- DataTables CSS -->
  <link href="../vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
  <!-- DataTables Responsive CSS -->
  <link href="../vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
  <!-- Custom Fonts -->
  <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <!--  <script type="text/javascript">
        var list = <%= bucketList %>
        console.log(list);
    </script> -->
</head>

<body>
  <div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Cloud Services Lab 2: Amir Rahafrouz, An Pham</a>
      </div>
      <!-- /.navbar-header -->
      <ul class="nav navbar-top-links navbar-right">
        <!-- /.dropdown -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
            <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
            </li>
            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
            </li>
            <li class="divider"></li>
            <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
          </ul>
          <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
      </ul>
      <!-- /.navbar-top-links -->
<div class="navbar-default sidebar in" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav in" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="s3" class="active"><i class="fa fa-bitbucket fa-fw"></i> S3<span class="fa arrow"></span></a>
      
                            <!-- /.nav-second-level -->
                        </li>



                        <li>
                            <a href="ec2" class="active"><i class="fa fa-pied-piper-alt fa-fw"></i> EC2<span class="fa arrow"></span></a>
                            <!-- /.nav-second-level -->
                        </li>
                        
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
      <!-- /.navbar-static-side -->
    </nav>
    <div id="page-wrapper">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="panel panel-green">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="fa fa-tasks fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge">
                    <%= bucketList.length %>
                  </div>
                  <div>Buckets!</div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="createbucket" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Create a new bucket</h4>
                  </div>
                  <div class="modal-body">
                    <div id="notification-placeholder">
                      <div class="alert alert-success alert-dismissable">Successfully created the bucket!</div>
                      <div class="alert alert-danger alert-dismissable">Something went wrong! Please try again</div>
                    </div>
                    <form>
                      <div class="form-group">
                        <label for="bucket-name-inp" class="control-label">Bucket Name:</label>
                        <input type="text" class="form-control" id="bucket-name-inp">
                      </div>
                      <div class="form-group">
                        <label for="bucket-region-inp" class="control-label">Region:</label>
                        <select id="bucket-region-inp" class="form-control">
                          <% const keys= Object.keys(regionList);
                            for (var i=0; i<keys.length; i++) { %>
                          <option value="<%= keys[i] %>">
                            <%= regionList[keys[i]] %>
                          </option>
                          <% } %>
                        </select>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="create-bucket-btn" class="btn btn-primary">Create it!</button>
                  </div>
                </div>
              </div>
            </div>
            <a href="#">
              <div class="panel-footer">
                  <span class="pull-left" data-toggle="modal" data-target="#createbucket">Create a new bucket!</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="panel panel-yellow">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="fa fa-globe fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge">
                    <%= Object.keys(regions).length %>
                  </div>
                  <div>Regions!</div>
                </div>
              </div>
            </div>
            <a href="#">
              <div class="panel-footer">
                <span class="pull-left"></span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- Bucket Table -->
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default">
            <!--  <script type="text/javascript">var buckets= JSON.parse(<%=JSON.stringify(bucketList)%>);
                        </script> -->
            <div class="panel-heading">
              Buckets
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
              <div class="loader"></div>
              <div class="alert alert-success alert-dismissable" id="action-alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <span class="alert-content"></span>
              </div>
              <div class="alert alert-danger alert-dismissable" id="action-alert-error">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <span class="alert-content"></span>
              </div>
              <table width="100%" class="table table-striped table-bordered table-hover" id="bucket-list">
                <thead>
                  <tr role="row">
                    <th>#</th>
                    <th>Bucket Name</th>
                    <th>Region</th>
                    <th>Creation Date</th>
                    <th>
                      Delete
                      <i tabindex="0" class="fa fa-question-circle popover-dismiss" role="button" data-toggle="popover" data-trigger="focus" title="Delete a bucket" data-content="This will delete all objects inside bucket!" aria-hidden="true" data-placement="bottom">
                        <!-- <i class="fa fa-question-circle" aria-hidden="true"></i> -->
                      </a>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var i=0; i<bucketList.length; i++) {%>
                  <tr class="odd gradeX" role="row">
                    <td class="center">
                      <%= i + 1 %>
                    </td>
                    <td class="center">
                      <a href="/buckets/<%=bucketList[i].Name%>"><%= bucketList[i].Name %></a>
                    </td>
                    <td>
                      <%= regionList[bucketList[i].Region] || defaultRegion %>
                    </td>
                    <td class="center">
                      <%= bucketList[i].CreationDate %>
                    </td>
                    <td class="delete-btn">
                      <button type="button" class="btn btn-danger btn-circle delete-bucket-btn" id="btn-<%=i%>" name="<%= bucketList[i].Name%>">
                        <i class="fa fa-times"></i>
                      </button>
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
              <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
          </div>
          <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
      <div class="row">
      </div>
      <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->  </div>
  <!-- /#wrapper -->
  <!-- jQuery -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
  <!-- Metis Menu Plugin JavaScript -->
  <script src="../vendor/metisMenu/metisMenu.min.js"></script>
  <!-- Data Table js -->
  <script src="../vendor/datatables/js/jquery.dataTables.min.js"></script>
  <script src="../vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
  <script src="../vendor/datatables-responsive/dataTables.responsive.js"></script>
  <!-- Custom Theme JavaScript -->
  <script src="../dist/js/sb-admin-2.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    // $(".alert").hide();
    $('#bucket-list').DataTable({
      responsive: true,
      columnDefs: [
        { "orderable": false, "targets": 4 }
      ]
    });

    $('.popover-dismiss').popover({
      trigger: 'focus',
    });

    // Create new bucket
    $("#create-bucket-btn").click(function() {
      console.log("clicked");
      theurl = "/api/s3/buckets/create/" + $("#bucket-name-inp").val().trim() + "/" + $("#bucket-region-inp option:selected").val().trim()
      $.ajax({
        url: theurl,
        success: function(result) {
          console.log("success: " + result);
          $("#notification-placeholder .alert-success").show();
        },
        error: function(result) {
          $("#notification-placeholder .alert-danger").show();
          console.log("error");
        },
        timeout: 8000

      });
    });

    // Delete a bucket
    $(".delete-bucket-btn").on('click', function(e) {
      $(".loader").show();
      var bucketName = e.target.name.trim();
      var theurl = "/api/s3/buckets/" + bucketName + "/";
      $.ajax({
        url: theurl,
        type: "DELETE",
        success: function(result) {
          $(".loader").hide();
          $("#action-alert-success .alert-content").text("Successfully deleted bucket: " + bucketName);
          $(e.target).parents("tr").remove()
          $("#action-alert-success").show();
          $("#action-alert-error").hide();
        },
        error: function(result) {
          $(".loader").hide();
          $("#action-alert-error .alert-content").text(result.responseJSON.data.message);
          $("#action-alert-error").show();
          $("#action-alert-success").hide();
        },
        timeout: 8000
      });
    });
  });

  </script>
</body>

</html>
